{
    "gemini_api_key": "TU_API_KEY_AQUI",
    "os_system": "windows",
    "camera_index": 0,
    "mic_device": 0,
    "spk_device": 0,
    "chrome_google_profile": "Default",
    "chrome_exe_path": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe",
    "timezone": "America/Argentina/Buenos_Aires",
    "language": "es-ES",
    "thinking_sound": false,
    "nexo_voice": "Charon",
    "spotify_client_id": "",
    "spotify_client_secret": "",
    "spotify_redirect_uri": "http://127.0.0.1:8888/callback",
    "tmdb_api_key": "",
    "ollama_enabled": true,
    "ollama_base_url": "http://localhost:11434",
    "ollama_model": "llama3.2:1b",
    "model_for_conversation": "gemini",
    "model_for_agents": "ollama",
    "model_for_search": "gemini",
    "model_for_vision": "gemini"
}
